.App {
  text-align: center;
}

.fullscreen-enabled {
  background-color: white;
}

.fullscreen-enabled h1 {
  color: #330c2f;
}

.fullscreen-enabled h2 {
  color: #330c2f;
}
.complete {
  background-color: green;
  color: white;
}

.kiri {
  display: flex;
  /* height: 200px; */
  flex-direction: column-reverse;
  align-items: flex-start;
}
.form {
  display: flex;
  /* height: 200px; */
  flex-direction: column;
}
.tabel {
  display: flex;
  flex-direction: row;
}

/* Layar Sapa  */

.LayarSapa h1 {
  padding: 20vh;
  font-family: "Dancing Script", cursive;
}

.LayarSapa h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 8vh;
}

.Scanner {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* QR */
/* .card-columns {
  column-count: 8 !important;
} */

/* .card {
  display: flex;
  justify-content: center;
}

/* .card-horizontal {
  display: flex;
  flex: 1 1 auto;
} */

/* .card-title {
  overflow: hidden;
} */

.PrintIcon:hover {
  cursor: pointer;
}

.PrintIcon {
  margin: 10px;
}

.FullScreenIcon:hover {
  cursor: pointer;
}

.FullScreenIcon {
  margin-right: 20px;
}

.QRCard {
  display: flex;
  width: 302px;
  align-items: center;
  border: 0.5px dashed black;
  margin: 1px;
}
.titleQR {
  display: flex;
  align-items: center;
  width: 151px;
  height: 75.5px;
  justify-content: center;
}
.QRCard h1 {
  align-items: center;
  font-size: 12px;
}

.QRCard img {
  width: 132px;
}

/* .konfirmasi */
.btn-success {
  justify-content: flex-end !important;
  position: flex !important;
}
.btn-primary {
  padding: 2px;
}

.konfirmasihadir {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  border: 2px solid #6883ba;
  background-color: #6883ba;
  color: #f9f9f9;
  padding: 16px;
  border-radius: 5px;
}
.konfirmasi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  border: 2px solid #6883ba;
  background-color: #f9f9f9;
  color: #6883ba;
  padding: 16px;
  border-radius: 5px;
}
.hadir {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  border: 2px solid #6883ba;
  background-color: green;
  color: #f9f9f9;
  padding: 16px;
  border-radius: 5px;
}

/* Build */
.Countainer {
  margin-left: 2vw;
  padding: 2vw;
}

.BuildContainer {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}

.Build {
  border: 2px solid #6883ba;
  text-align: left;
  /* padding-left: 5vw; */
  /* width: 40vw; */
  /* margin-left: 1.5vw; */
  margin: 2vw;
}
.BuildPreview {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  overflow: hidden;
  margin-left: 10%;
  margin-top: 5%;
  /* right: 50%; */
  max-width: 80%;
}
.waktu {
  padding-bottom: 2vh !important;
  color: blue;
}

/* Undangancss */

/* section1 */
.UploadImage {
  opacity: 1 !important;
  display: flex;
}

.Section0 {
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
}

.coverdepan {
  /* position: fixed; */
  /* display: none; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* color: white; */
  background-position: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;

  /* display: flex; */
}
.GambarDepan {
  opacity: 0.5;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  /* display: none; */
}
.coverdepanText {
  position: absolute;
  text-align: center;
}
.coverdepan h2 {
  color: black;
  font-size: 32px;
  font-family: "Dancing Script", cursive;
  padding: 10vh;
}

.coverdepan p {
  /* padding-top: 20vh; */
  color: black;
}

.section1 {
  display: flex;

  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-position: center;
  height: 100vh;
  color: white;
}

.section1 img {
  width: 300px;
  height: auto;
  margin-top: 48px;
}

.section1 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 64px !important;

  transition: opacity 1s ease-in-out;
  transition-delay: 0.5s;
}
.section1 h2 {
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
}
.section1 h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

/* section2 */
.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  min-height: 100vh;
}
.imgputra img {
  border-radius: 50%;
  padding: 24px;
  width: 240px;
  height: 240px;
}

.imgputri img {
  border-radius: 50%;
  padding: 24px;
  width: 240px;
  height: 240px;
}
.section2 h1 {
  font-family: "Dancing Script", cursive;
  font-size: 144px;
}
.section2 h2 {
  font-family: "Dancing Script", cursive;
  padding-top: 5vh;
}

.section2 h3 {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  padding: 2vw 6vw 0 6vw;
}

.section2 h4 {
  font-family: "Dancing Script", cursive;
  font-size: 24px;
}

.section2 p {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}
@media screen and (min-width: 512px) {
  .layout2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

/* section3 */
/* countdown */

.Countdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.counter {
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-family: "Oswald", sans-serif;
}

.section3 {
  display: flex;

  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-position: center;
  min-height: 100vh;

  color: white;
}

.section3 h1 {
  font-family: "Dancing Script", cursive;
}

/* section4 */

.section4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-position: center;
  min-height: 100vh;
  /* color: white; */
}
.section4 h1 {
  font-size: 72px;
}

.section4 h4 {
  font-size: 20px;
}

.SesiFalse {
  display: none;
}

@media screen and (max-width: 512px) {
  .date {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.date h1 {
  font-size: 28px;
  font-family: "Dancing Script", cursive;
  padding: 15px;
}

.date h2 {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}
.lokasi {
  padding-top: 10vh;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}
.lokasi h3 {
  font-weight: bold;
}

/* section5 */
@media only screen and (max-width: 512px) {
  .img-grid {
    position: relative;
    height: auto;
    width: 100%;
    margin: auto;
    padding: 45px 0;
    display: grid;
    grid-template-columns: auto auto !important;
    grid-gap: 2vmin;
    margin-top: 30px;
  }
}
.section5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-position: center;
  /* min-height: 100vh; */
}
.section5:active,
.section5:hover {
  border: 2px solid blue;
}

.img-grid {
  position: relative;
  height: auto;
  width: 100%;
  margin: auto;
  padding: 45px 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2vmin;
  margin-top: 30px;
}

.img-wrap {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.img-wrap img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-wrap:first-child {
  grid-column-start: span 1;
  grid-row-start: span 2;
}

.img-wrap:nth-child(3) {
  grid-column-start: span 1;
  grid-row-start: span 2;
}

.img-wrap:nth-child(2n + 7) {
  grid-row-start: span 2;
}

/* color: white; */

.section6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-position: center;
  min-height: 100vh;
}
.section6 h2 {
  font-family: "Dancing Script", cursive;
}

.section6 p {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

.protap-warp {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
}
.protap-warp h4 {
  max-width: 40vw;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

/* section7  */
.section7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-position: center;
  min-height: 100vh;
}
.section7 h3 {
  padding-top: 10vh;
}
.komentar {
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  text-align: left;
}
.komentar h5 {
  font-weight: bold;
}
.rsvp {
  display: none;
}

.modal-body img {
  width: 100%;
}

.box {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}
.img-preview {
  overflow: hidden;
}

.my-modal {
  height: 90vw;
  max-height: 90vw;
}

/* .UploadImage {
  position: absolute;
  padding: 30px;
  z-index: 3;
  top: 0;
  left: 0;
} */
