@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&family=Montserrat:ital,wght@0,500;0,700;1,500&display=swap");
.App {
  text-align: center;
}

.fullscreen-enabled {
  background-color: white;
}

.fullscreen-enabled h1 {
  color: #330c2f;
}

.fullscreen-enabled h2 {
  color: #330c2f;
}
.complete {
  background-color: green;
  color: white;
}

.kiri {
  display: flex;
  /* height: 200px; */
  flex-direction: column-reverse;
  align-items: flex-start;
}
.form {
  display: flex;
  /* height: 200px; */
  flex-direction: column;
}
.tabel {
  display: flex;
  flex-direction: row;
}

/* Layar Sapa  */

.LayarSapa h1 {
  padding: 20vh;
  font-family: "Comic Neue", cursive;
}

.LayarSapa h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 8vh;
}

.Scanner {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* QR */
/* .card-columns {
  column-count: 8 !important;
} */

/* .card {
  display: flex;
  justify-content: center;
}

/* .card-horizontal {
  display: flex;
  flex: 1 1 auto;
} */

/* .card-title {
  overflow: hidden;
} */

.PrintIcon:hover {
  cursor: pointer;
}

.PrintIcon {
  margin: 10px;
}

.FullScreenIcon:hover {
  cursor: pointer;
}

.FullScreenIcon {
  margin-right: 20px;
}

.QRCard {
  display: flex;
  width: 302px;
  align-items: center;
  border: 0.5px dashed black;
  margin: 1px;
}
.titleQR {
  display: flex;
  align-items: center;
  width: 151px;
  height: 75.5px;
  justify-content: center;
}
.QRCard h1 {
  align-items: center;
  font-size: 12px;
}

.QRCard img {
  width: 132px;
}

/* .konfirmasi */
.btn-success {
  justify-content: flex-end !important;
  position: flex !important;
}
.btn-primary {
  padding: 2px;
}

.konfirmasihadir {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  border: 2px solid #6883ba;
  background-color: #6883ba;
  color: #f9f9f9;
  padding: 16px;
  border-radius: 5px;
}
.konfirmasi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  border: 2px solid #6883ba;
  background-color: #f9f9f9;
  color: #6883ba;
  padding: 16px;
  border-radius: 5px;
}
.hadir {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  border: 2px solid #6883ba;
  background-color: green;
  color: #f9f9f9;
  padding: 16px;
  border-radius: 5px;
}

/* Build */
.Countainer {
  margin-left: 2vw;
  padding: 2vw;
}

.BuildContainer {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}

.Build {
  border: 2px solid #6883ba;
  text-align: left;
  /* padding-left: 5vw; */
  /* width: 40vw; */
  /* margin-left: 1.5vw; */
  margin: 2vw;
}
.BuildPreview {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  overflow: hidden;
  margin-left: 10%;
  margin-top: 5%;
  /* right: 50%; */
  max-width: 80%;
}
.waktu {
  padding-bottom: 2vh !important;
  color: blue;
}

/* Undangancss */

/* section1 */
.UploadImage {
  opacity: 1 !important;
  display: flex;
}

.Section0 {
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
}

.coverdepan {
  /* position: fixed; */
  /* display: none; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* color: white; */
  background-position: center;
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;

  /* display: flex; */
}
.GambarDepan {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  /* display: none; */
}
.coverdepanText {
  /* position: absolute; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 100vh;
  padding: 80px 0 80px 0;
  color: #b75c5c;
}
.coverdepan img {
  width: 174px;
  height: 174px;
}
.coverdepan button {
  width: 266px;
  height: 47px;
  background: #b75c5c;
  border-radius: 40px;
  border: none;
  color: white;
}
.coverdepan h3 {
  font-size: 50px;
  font-family: "Alex Brush", cursive; /* padding: 10vh; */
}
.coverdepan h2 {
  font-size: 18px;
}
.coverdepan h1 {
  font-size: 14px;
}
.coverdepan p {
  /* padding-top: 20vh; */
  color: black;
}
.coverdepan h4 {
  font-family: "Comic Neue", cursive;
  font-size: 40px;
}
.section1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 112px 0 112px 0;
  background-position: center;
  height: 100vh;
  color: #b75c5c;
}

.section1 img {
  width: 251px;
  height: auto;
  margin-top: 48px;
}

.section1 h1 {
  font-size: 36px;
  font-family: "Dancing Script", cursive;
}
.section1 h2 {
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
}
.section1 h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

/* section2 */
.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  min-height: 100vh;
  padding: 0 32px 0 32px;
  color: #b75c5c;
}
.section2 .bunga {
  position: absolute;
  display: flex;
  align-self: flex-start;
}
.section2 .bgSection2 {
  background-color: #fff9f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 710px;
  border-radius: 20px;
}
.section2 .text {
  width: 222px;
  color: #b75c5c;
}

.section2 h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin-top: 24px;
  /* padding: 2vw 6vw 0 6vw; */
  text-indent: 12px;
  line-height: 16px;
}

.section2 h4 {
  font-family: "Comic Neue", cursive;

  font-size: 24px;
}

.section2 p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
@media screen and (min-width: 512px) {
  .layout2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

/* section3 */
/* countdown */

.Countdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.counter {
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-family: "Montserrat", sans-serif;
}

.counter h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
}
.counter h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 14px;
}

.section3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  min-height: 100vh;

  color: #b75c5c;
}

.section3 h1 {
  font-family: "Comic Neue", cursive;

  font-size: 28px;
}
.section3 h2 {
  font-size: 12px;
}
.section3 h3 {
  font-size: 64px;
  font-family: "Comic Neue", cursive;
}
.section3 .bunga {
  position: absolute;
  display: flex;
  align-self: flex-start;
}
/* .section3 .bungabawah {
  position: absolute;
  display: flex;
  align-self: flex-end;
} */

/* section4 */

.section4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 23px 60px 23px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 24px 0 24px 0;
  background-position: center;
  min-height: 100vh;
  color: #b75c5c;
  /* color: white; */
}
.section4 .TimeLocation {
  margin-top: 50px;
}
.section4 h1 {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.section4 h2 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.section4 h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.section4 h3 {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.section4 .warning {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 329px;
  height: 148px;
  padding: 16px;
  background: #fff9f3;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.SesiFalse {
  display: none;
}

@media screen and (max-width: 512px) {
  .date {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.date h1 {
  font-size: 28px;
  font-family: "Comic Neue", cursive;

  padding: 15px;
}

.date h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.lokasi {
  padding-top: 10vh;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.lokasi h3 {
  font-weight: bold;
}

/* section5 */
@media only screen and (max-width: 512px) {
  .img-grid {
    position: relative;
    height: auto;
    width: 100%;
    margin: auto;
    padding: 45px 0;
    display: grid;
    grid-template-columns: auto auto !important;
    grid-gap: 2vmin;
    margin-top: 30px;
  }
}
.section5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-position: center;
  /* min-height: 100vh; */
}
.section5:active,
.section5:hover {
  border: 2px solid blue;
}

.img-grid {
  position: relative;
  height: auto;
  width: 100%;
  margin: auto;
  padding: 45px 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2vmin;
  margin-top: 30px;
}

.img-wrap {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.img-wrap img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-wrap:first-child {
  grid-column-start: span 1;
  grid-row-start: span 2;
}

.img-wrap:nth-child(3) {
  grid-column-start: span 1;
  grid-row-start: span 2;
}

.img-wrap:nth-child(2n + 7) {
  grid-row-start: span 2;
}

/* color: white; */

.section6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #b75c5c;
  background-position: center;
  min-height: 100vh;
}
.section6 h1 {
  font-size: 20px;
}
.section6 h2 {
  font-family: "Comic Neue", cursive;
}

.section6 p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.protap {
  width: 329px;
  height: max-content;
  background: #fff9f3;
  border-radius: 40px;
  padding: 20px;
}
.protap img {
  width: 47px;
}
.protap-warp {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
}
.protap-warp h4 {
  /* max-width: 40vw; */
  margin: 20px 0 20px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

/* section7  */
.section7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 23px;
  background-position: center;
  min-height: 100vh;
}
.section7 h3 {
  /* padding-top: 10vh; */
  font-size: 32px;
  color: #b75c5c;
}

.bgComment {
  background: #fff9f3;
  border-radius: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.bgComment h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #b75c5c;
}

.komentar {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background: #f2d6c4;
  border-radius: 20px;
  padding: 20px;
}
.komentar h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  margin: 0;
  color: #b75c5c;
}

.komentar p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  color: #b75c5c;
}

.commentArea {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #b75c5c;
}

.commentArea h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-align: start;
  align-self: flex-start;
}

.commentArea textarea:focus,
input:focus {
  outline: none;
}
.nameBox {
  border: 1px solid #b75c5c;
  box-sizing: border-box;
  border-radius: 20px;
  color: #b75c5c;
  width: 277px;
  height: 29px;
  background: #fff9f3;
  padding-left: 14px;
}

.commentBox {
  border: 1px solid #b75c5c;
  box-sizing: border-box;
  border-radius: 20px;
  color: #b75c5c;
  width: 277px;
  padding: 14px;
  background: #fff9f3;
}

.sendBtn {
  background: #b75c5c;
  /* box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25); */
  border-radius: 20px;
  width: 194px;
  border: none;
  color: #fff9f3;
}

.rsvp {
  display: none;
}

.modal-body img {
  width: 100%;
}

.box {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}
.img-preview {
  overflow: hidden;
}

.my-modal {
  height: 90vw;
  max-height: 90vw;
}

/* .UploadImage {
  position: absolute;
  padding: 30px;
  z-index: 3;
  top: 0;
  left: 0;
} */
